<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Food For Your Mood</title>
    <link rel="stylesheet" href="/static/styles.css"/>
</head>
<body>
    <nav><h1>Food for Your Mood!</h1></nav>
    <!-- <a class="create" href="/create">Create Account</a> -->
    {% if session['name']  %}
    <p>Logged in as {{ session['name'] }}</p>
    <a class ="log" href="/logout">Log Out</a>
    {% else %}
    <a class="log" href="/login">Login</a>
    
    {% endif %}
    

    {% block content %}
    {% endblock %}
    
</body>
</html>