<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div>
            <label for="moods">What's Your Mood:</label> 
            <form action="/mood_action" method="POST">
            <select id="mood" name="mood">
                <option value="" disabled selected>Select a mood</option>
                <option value="lazy">lazy</option>
                <option value="cheerful">cheerful</option>
                <option value="frantic">frantic</option>
                <option value="comfort">I need comfort!</option>
        </div>
        <input type="submit" value="Give Me Food!">
    </form>
</div>
</body>
</html>